.wrapper {
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8125rem;
  color: white;
  margin-bottom: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
}

.tableHeader {
  padding: 0.625rem 1rem;
  background-color: #333;
  text-align: left;
  overflow: hidden;
}

.tableHeaderButton {
  width: 20%;
}

.tableHeader,
.tableHeaderButton {
  text-overflow: clip;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

.tableHeaderButton:hover {
  cursor: pointer;
}

.sortSvg {
  width: 1em;
  height: 1em;
  vertical-align: -20%;
  font-size: 1.2rem;
  filter: invert(1);
}

.row,
.tableHeader {
  white-space: nowrap;
  border-bottom: white 0.0625rem solid;
}

.row,
.rowContents {
  color: white;
  padding: 0.7rem 1.3rem;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row:hover {
  cursor: pointer;
}

.row:nth-child(even) {
  background-color: rgba(255,255,255,.1);
}

.rowTabContents {
  display: flex;
}

.rowTabImage {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  margin: 1.2rem;
}

.rowTabBody {
  padding-left: 1rem;
  margin-top: 1rem;
}

.link {
  font-size: .75rem;
  padding: 0.72em 1.7em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #3a3d57;
  background-color: #14cc76;
  border-bottom: 0.25rem solid #37945C;
  transition: background-color .25s ease-out;
  cursor: pointer;
}

.link:hover {
  background-color: #41e592;
  color: #3a3d57;
}

.pageButtonWrapper {
  margin-top: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  flex-wrap: wrap;
}

.pageButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.pageArrow {
  height: 0.8em;
  font-size: 1.4rem;
  filter: invert(1);
}

.pageButton:hover {
  border: #fff 0.0625rem solid;
}

.activePage {
  background-color: white;
  color: #333;
}

.active,
.rowTab,
.rowTabBody {
  background-color: white;
  color: #333; 
}

.inactive {
  pointer-events: none;
  opacity: 0.4;
}